.multi-site
{
    background-color: #f5f5f5;
}
.premium
{
    background-color: #fcf8e3 !important;
}
.reactn-lead
{
    padding: 30px;
}
.reactn-quote
{
    padding: 20px;
}
.reactn-feature-icon
{
    width: 90px;
    height: 90px;
    text-align: center;
    display: inline-block;
    padding-top: 15px;
}
.reactn-feature-icon img
{
    width: 40px;
    height: 40px;
}
.icon-black
{
    color: black;
}
