.multi-site
{
    background-color: #f5f5f5;
}
.premium
{
    background-color: #fcf8e3 !important;
}
.reactn-lead
{
    padding: 30px;
}
.reactn-quote
{
    padding: 20px;
}
.reactn-feature-icon
{
    width: 150px;
    height: 150px;
    text-align: center;
    display: inline-block;
    padding-top: 15px;
    background-color: white;
    vertical-align: middle;

}
.reactn-experience-icon
{
    width: 170px;
}
.reactn-experience-icon img
{
    width: 130px;
}
.v-middle
{
    vertical-align: middle;
}
.reactn-feature-icon:hover
{
    background-color: white;
    border: 1px solid #ddd;
}
.reactn-feature-icon img
{
    width: 90px;
    vertical-align: middle;
}
.reactn-feature-icon-wide img
{
    width: 110px;
    padding-top: 25px;
    vertical-align: middle;
}
.reactn-feature-icon-manage img
{
    width: 110px;
    padding-top: 18px;
    margin-left: -10px;
    vertical-align: middle;
}
.text-centre-icon
{
    text-align: center;
}
.text-centre-icon h3
{
    border-bottom: none;
}
.icon-centre
{
    margin: auto;
    padding-bottom: 10px;
}
.icon-black
{
    background-color: white;
    color: black;
}
.icon-black:hover
{
    color: black;
    background-color: white;
    border: 1px solid #ddd;
}
.feature-box
{
    background-color: #00B7EB;
    color: black;
    border-color: white;
}
.feature-box h4
{
    color: white;
}
.reactn-image
{
    padding: 25px;
}
.reactn-image img
{
    margin-top: 60px;
    max-width: 490px;
}
.reactn-image-right
{
    padding: 25px;
    padding-right: 0px;
    text-align: right;
}
.link-list a
{
    color: black;
}
.navbar-brand
{
    padding-top: 20px;
}
p
{
    font-size: 1.2em;
}
.pricing-table td
{
    width: 25%;
}
