<p>
    Too often, customer service is set up for the convenience of the company, rather than of customers. Reactn is different. Continuous and always on, Reactn is at the convenience of the customer. It is focused on providing an easy to use and compelling way of reporting issues.
</p>
<p>
    The result is that customers feel listened to, engaged and empowered. They now have greater access to staff and decision makers, knowing that their feedback will be acted on and resolved.
</p>
<p>
    Rather than a one-way stream of complaints and platitudes, Reactn enables a constant loop of customer insight and resolution. We achieve this with a set of key platform features:
</p>


<div class="row">
    <!--=== Content 1 ===-->
    <div class="col-sm-4 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="bordered-icon-lg reactn-feature-icon engage">
                <img src="/images/icons/engage.png">
            </span>
            <h4 class="pt15">Engage customers in meaningful feedback</h4>
            <p class="no-margin">Reactn uses dynamic and innovative ways to engage customers and collect actionable feedback. The result is increased levels of consumer satisfaction and a better informed business.</p>
        </div>
    </div>
    <!--=== Content 2 ===-->
    <div class="col-sm-4 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="bordered-icon-lg reactn-feature-icon">
                <img src="/images/icons/relevant-feedback.png">
            </span>
            <h4 class="pt15">Target specific and known locations</h4>
            <p class="no-margin">Reactn uses tools and technologies to locate customers, adding context to the feedback collection process. As a result, Reactn can adapt to external factors, time and customers sentiment.</p>
        </div>
    </div>
    <!--=== Content 3 ===-->
    <div class="col-sm-4 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="bordered-icon-lg reactn-feature-icon">
                <img src="/images/icons/clipboard.PNG">
            </span>
            <h4 class="pt15">Create a simple and compelling feedback tool</h4>
            <p class="no-margin">Reactn delivers organisations with a powerful set of feedback and data gathering tools, while at the same time providing customers with a fun and engaging method of getting their point across.</p>
        </div>
    </div>
</div>
<div class="row">
    <!--=== Content 1 ===-->
    <div class="col-sm-6 col-md-3 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="bordered-icon-lg reactn-feature-icon">
                <img src="/images/icons/directing.png">
            </span>
            <h4 class="pt15">Send feedback to relevant people for action</h4>
            <p class="no-margin">Reactn uses a sophisticated routing system to direct insight to the most relevant person or department able to deal with and respond to that customer requirement.</p>
        </div>
    </div>
    <!--=== Content 2 ===-->
    <div class="col-sm-6 col-md-3 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="bordered-icon-lg reactn-feature-icon">
                <img src="/images/icons/respond.png">
            </span>
            <h4 class="pt15">Generate better responses to feedback</h4>
            <p class="no-margin">Reactn enables relevant employees and services teams to collect and respond to customers directly. It also enables businesses to aggregate and act on feedback, both operationally and strategically.</p>
        </div>
    </div>
    <!--=== Content 3 ===-->
    <div class="col-sm-6 col-md-3 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="ion-record bordered-icon-lg icon-black"></span>
            <h4 class="pt15">Record actions and resolutions</h4>
            <p class="no-margin">Reactn handles the entire process through a unique ticket-based system, managing workflow, time-to-response, priority and escalation in one easily accessible platform.</p>
        </div>
    </div>
    <!--=== Content 4 ===-->
    <div class="col-sm-6 col-md-3 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="bordered-icon-lg reactn-feature-icon">
                <img src="/images/icons/visualise_performance.png">
            </span>
            <h4 class="pt15">Visualise performance and outcomes</h4>
            <p class="no-margin">Reactn aggregates sentiment, feedback and location data as a single dashboard. It also enables decision makers to view outstanding resolutions and faults across the entire  business.</p>
        </div>
    </div>
</div>
