<p>
    Too often, customer service is set up for the convenience of the company, rather than of customers. Reactn is different. Continuous and always on, Reactn is at the convenience of the customer. It is focused on providing an easy to use and compelling way of reporting issues.
</p>
<p>
    The result is that customers feel listened to, engaged and empowered. They now have greater access to staff and decision makers, knowing that their feedback will be acted on and resolved.
</p>
<p>
    Rather than a one-way stream of complaints and platitudes, Reactn enables a constant loop of customer insight and resolution. We achieve this with a set of key platform features:
</p>

<div class="heading mt30">
    <h3>
        Engage customers in meaningful feedback
    </h3>
</div>
<div class="row">
    <div class="col-sm-6 col-md-3 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="bordered-icon-lg reactn-feature-icon engage">
                <i class="fa fa-power-off" style="color: black; font-size: 90px; padding-top: 15px;"></i>
            </span>
            <h4 class="pt15">Always on</h4>
            <p class="no-margin">Too often, customer service is set up for the convenience of the company, rather than of customers. Reactn is different. Continuous and always on, Reactn operates at the convenience of the customer. Feedback can be given 24 hours a day, and responses can be given flexibly according to the severity and urgency of the issue.</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="bordered-icon-lg reactn-feature-icon">
                <img src="/images/icons/engaging.png" style="margin-top: 10px; margin-left: -7px;">
            </span>
            <h4 class="pt15">Simple and compelling</h4>
            <p class="no-margin">Reactn uses straightforward and familiar mobile app and web interfaces. It provides an easy to use and compelling way of reporting issues that helps customers get their point across in a natural and engaging way.</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="bordered-icon-lg reactn-feature-icon">
                <img src="/images/icons/locate.png" style="margin-top: 10px">
            </span>
            <h4 class="pt15">Location-based</h4>
            <p class="no-margin">Reactn uses geotagging and mobile GPS technology as well as unique response codes to locate customers and issues. This adds context and depth to the feedback collection process. As a result, Reactn can help you react faster and more precisely to resolve issues quickly and effectively.</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="bordered-icon-lg reactn-feature-icon">
                <img src="/images/icons/clipboard-advanced.png">
            </span>
            <h4 class="pt15">Meaningful feedback</h4>
            <p class="no-margin">Reactn uses both carefully structured questioning and free-form text to collect actionable feedback. In addition, users can upload photo or video evidence of issues. Improving the quality and relevance of feedback in this way will help your organisation respond more effectively. The result is increased levels of consumer satisfaction and a better informed business.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-3 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="bordered-icon-lg reactn-feature-icon">
                <img src="/images/icons/direct.png" style="margin-top: 27px; margin-left: 3px;">
            </span>
            <h4 class="pt15">Directed feedback</h4>
            <p class="no-margin">Reactn uses a sophisticated routing system to direct insight to where it is best handled. This means the most relevant person or department can respond to a customer’s requirement swiftly and effectively.</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="bordered-icon-lg reactn-feature-icon">
                <img src="/images/icons/respond.png" style="margin-top: 25px;">
            </span>
            <h4 class="pt15">Improved response</h4>
            <p class="no-margin">Reactn enables relevant employees and services teams to collect and respond to customers directly. It also enables businesses to aggregate and act on feedback, both operationally and strategically.</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="bordered-icon-lg reactn-feature-icon">
                <img src="/images/icons/record.png" style="margin-top: 22px; margin-left: 30px;">
            </span>
            <h4 class="pt15">Record actions and resolutions</h4>
            <p class="no-margin">Reactn handles the entire process through a unique ticket-based system, managing workflow, time-to-response, priority and escalation in one easily accessible platform.</p>
        </div>
    </div>
    <div class="col-sm-6 col-md-3 text-center">
        <div class="content-box content-box-bordered feature-box">
            <span class="bordered-icon-lg reactn-feature-icon">
                <img src="/images/icons/visualise-performance.png" style="margin-top: 15px; margin-left: -15px;">
            </span>
            <h4 class="pt15">Visualise performance and outcomes</h4>
            <p class="no-margin">Reactn aggregates sentiment, feedback and location data as a single dashboard. It also enables decision makers to view outstanding resolutions and faults across the entire  business.</p>
        </div>
    </div>
</div>
