<div class="heading">
    <h4>
        Reactn for Human Resources
    </h4>
</div>
<p>
    Reactn collects customer sentiment and staff performance by exact location and time of day. It also collects specific staff-related complaints, feedback, positive comments and observations that can identify holes in training, management or recruitment.
</p>
<p>
    As a result, it can become a powerful tool for accessing where HR investment needs to be made, as well as the impact such investments have on performance and overall staff morale. The platform also acts as a perfect channel for knowledge managers to spot gaps in staff training requirements and mentoring. This allows information on every aspect of the role to be provided via mobile and tablet based devices.
</p>
<p>
    Reactn can also be used to collect employee survey data, everyday staff perceptions, gather requests for resource, equipment and training, as well as be a forum for ideas and best practice. Equally, employees can share their experiences and help one another through the system.
</p>
