<p>
    Reactn collects insights into customer sentiment and staff performance by exact location and time of day. It also collects specific staff-related complaints, feedback, positive comments and observations that can identify holes in training, management or recruitment. It can also identify where staff training or incentive initiatives have succeeded or fallen short.
</p>
<p>
    As a result, Reactn can be a powerful tool for assessing where HR investment needs to be made, as well as the impact investment has on staff performance and attitudes. The platform acts as a perfect channel for knowledge managers to spot gaps in staff training and mentoring. Reactn allows information on every aspect of a employee’s role to be provided via mobile and tablet devices.
</p>
<p>
    Reactn can also be used to collect employee survey data, log everyday staff perceptions and gather requests for resources, equipment and training. Equally, Reactn acts as a forum for ideas and best practice, and the system allows employees to share their experiences and help one another improve their performance.
</p>
