<div class="heading">
    <h4>
        Reactn for Customer Services
    </h4>
</div>
<p>
    Customer service professionals are challenged by the need to deliver consistent experience , while informing other areas of the business on where best to make investments for maximum return. These challenges are heightened by the limited measures currently available to them: whether it be surveys, social media sentiment, or good old fashioned sales data.
</p>
<p>
    By introducing Reactn to the knowledge process, customer services can actively work on day-to-day customer engagement, pulling resource from across different functional lines into the process . This breaks-down divisional silos and treats customers as individuals, whilst also aggregating data for better decision making.
</p>
<p>
    Reactn enables you to treat complaints, feedback and ideas as a source for improvement. It also enables customer service and experience teams to focus investment where it matter most and measure the granular impact these investments have on business success.
</p>
<p class="lead">
    <em>
        &ldquo;Whether you like it or not, customers have strong opinions on what’s wrong with your business. You either ask them what these are and make changes, or you lose them. Simple as that.&rdquo;
    </em>
</p>
