<div class="heading">
    <h4>
        Constant innovation
    </h4>
</div>
<p>
    MineStor is an innovator in all aspects of customer feedback and engagement – from our unique location-specific engagement tools, geo-tagging and beacon technologies, to our powerful content management, ticketing and fault resolution platform.
</p>
<p>
    We continue to develop the tools and technology that make customer feedback valued and valuable. At the same time we are committed to becoming a central feature of your business success, delivering a resource that can be accessed anywhere at any time, with the sole intention of creating better businesses.
</p>
