<div class="heading">
    <h4>
        How we got here
    </h4>
</div>
<p>
    Very few companies make the feedback process easy for the customer, preferring to make it easy f or themselves. As a result, consumers have turned to social media and review sites to vent their concerns and opinions. Organisations have tried to follow, but their attempts to manage this new channel centrally are hit and miss at best. It’s not ideal to field feedback from an office, rather than at the point where issues occur.
</p>
<p>
    MineStor’s founder Julian Brett realised that if feedback could be collected easily and quickly at the point of service delivery, there was no reason why it couldn’t be sent direct to people best placed to address it. On-site staff could respond direct to the customer, both while the issue was being resolved, and on completion. This responsiveness can resolve specific customer service issues that will also be of benefit to the wider business.
</p>
<p>
    Julian realised that the growing use of smartphones and tablets is the ideal way to make this work. Research has tracked the changing preference of mobile channels over more traditional media for interaction with companies. The bottom line is that neglecting to engage with customer service via mobile will hurt your organisation.
</p>
<p>
    Not only are these personal devices in constant proximity to both customers and staff, but they can also be used to locate and identify individuals, as well as capture feedback in new and engaging ways. They can respond to and receive messages, smoothing the lines of communication between you and your customers.
</p>
<p>
    The result of these insights was Reactn. Since its inception, many iterations and proofs of concept have been produced, tested and verified by businesses across the UK and beyond. This has resulted in the refined Reactn platform we see today. At its heart is the desire to provide organisations with an extremely powerful and capable system, with a simple and engaging interface for their customers.
</p>
<p>
    &ldquo;We deliver a hugely powerful platform to businesses, at the same time abstracting this complexity away from the customer to deliver a simple and easy to use interface&rdquo;
</p>
