<div class="heading">
    <h3>
        Who we are
    </h3>
</div>
<p>
    To retain this pace and continue to exceed client expectations, MineStor has built a team of committed professionals, who also happen to be a nice bunch of people.
</p>
<!--=== Begin 6 Team Members Img Top  ===-->
<div class="row team-content-holder">
    <!--=== Begin Team Member 1 ===-->
    <div class="team-member-holder mb20-xs">
        <div class="col-sm-4 text-center">
            <!--=== Image ===-->
            <img src="/images/photos/JB.png" class="img-responsive team-member-img-top" alt="Julian Brett">
            <!--=== Name ===-->
            <h4 class="team-member-name-imgtop">Julian Brett: CEO and Founder</h4>
            <!--=== About ===-->
            <div class="team-description">
                <p>Julian founded his first company at the age of 21 and has been providing research services ever since. Julian oversees the development and delivery of MineStor solutions, with emphasis on technology strategy, research and service maximization.</p>
            </div>
        </div><!-- /column -->
    </div><!-- /team member holder -->
    <!--=== Begin Team Member 2 ===-->
    <div class="team-member-holder mb20-xs">
        <div class="col-sm-4 text-center">
            <!--=== Image ===-->
            <img src="/images/photos/RH.png" class="img-responsive team-member-img-top" alt="Rod Hills">
            <!--=== Name ===-->
            <h4 class="team-member-name-imgtop">Rod Hills: Business Development Director</h4>
            <!--=== About ===-->
            <div class="team-description">
                <p>Rod is responsible for MineStor’s sales and business development. Having worked in B2B sales for 20 years, Rod knows that opportunities for revenue growth stem from delivering superior customer experience. Rod understands how to listen to our customers’ needs and requirements, and how to align customer strategies with both your employees and your business goals.</p>
            </div>
        </div><!-- /column -->
    </div><!-- /team member holder -->
    <!--=== Begin Team Member 3 ===-->
    <div class="team-member-holder mb20-xs">
        <div class="col-sm-4 text-center">
            <!--=== Image ===-->
            <img src="/images/photos/NB.png" class="img-responsive team-member-img-top" alt="Nathan Budd">
            <!--=== Name ===-->
            <h4 class="team-member-name-imgtop">Nathan Budd: Commercial Director</h4>
            <!--=== About ===-->
            <div class="team-description">
                <p>Nathan is responsible for marketing, channel partnerships and implementation of client solutions. He has more than 15 years’ research and consulting experience in high-level strategic planning,market entry strategy, branding, go-to-market campaigns and sales strategy. Nathan holds an MBA from the University of Bath, an MA in Marketing and a BA in Communications.</p>
            </div>
        </div><!-- /column -->
    </div><!-- /team member holder -->
    <!--=== Begin Team Member 4 ===-->
    <div class="team-member-holder mb20-xs">
        <div class="col-sm-4 text-center mt30-lg">
            <!--=== Image ===-->
            <img src="/images/photos/MP.png" class="img-responsive team-member-img-top" alt="Michael Peacock">
            <!--=== Name ===-->
            <h4 class="team-member-name-imgtop">Michael Peacock: CTO &amp; Lead Developer </h4>
            <!--=== About ===-->
            <div class="team-description">
                <p>Michael built the Reactn platform from scratch. Previously the CTO of a technology investment company, Michael’s talent for translating and balancing business and consumer requirements have led to a system which appeals to the challenges and objectives of both. He has extensive experience of managing technology teams and complex projects, as well as the business sense to take them to market.</p>
                <p>Michael holds a software engineering degree from the University of Durham and is a regular industry speaker at global events. He is also the author of a number of highly regarded books and manuals on the development and use of technology platforms for the real world.</p>
            </div>
        </div><!-- /column -->
    </div><!-- /team member holder -->
    <!--=== Begin Team Member 5 ===-->
    <div class="team-member-holder mb20-xs">
        <div class="col-sm-4 text-center mt30-lg">
            <!--=== Image ===-->
            <img src="/images/photos/JW.png" class="img-responsive team-member-img-top" alt="Jack Wagstaffe">
            <!--=== Name ===-->
            <h4 class="team-member-name-imgtop">Jack Wagstaffe: Developer</h4>
            <!--=== About ===-->
            <div class="team-description">
                <p>Jack was awarded his MCOMP from the University of Newcastle, and came to MineStor to work on software development. With experience in creating information touch screens for the University and having specialised in security, Jack has been able to applying his cutting-edge thinking to the developing of the Reactn ticketing system and dashboard tools.</p>
            </div>
        </div><!-- /column -->
    </div><!-- /team member holder -->
    <!--=== Begin Team Member 6 ===-->
    <div class="team-member-holder">
        <div class="col-sm-4 text-center mt30-lg">
            <i class="fa fa-users img-responsive team-member-img-top" style="width: 120px; height: 120px; font-size: 110px;"></i>
            <!--=== Name ===-->
            <h4 class="team-member-name-imgtop">Advisors &amp; Partners</h4>
            <!--=== About ===-->
            <div class="team-description">
                <p>MineStor has a number of advisors and mentors, and we engage with key industry influencers. Most notable are Huw Davies, MineStor’s commercial advisor with a track record in technology start-ups, and Alan Robson, MineStor’s lead technology advisor and former IT Director of Pfizer. Reactn has also built strong ties with leading figures in the transport, retail and hospitality sectors, constantly testing ideas and absorbing feedback into the business.</p>
            </div>
        </div><!-- /column -->
    </div><!-- /team member holder -->
</div><!-- /row -->
<!--=== End 6 Team Members Img Top ===-->
