<!-- Begin Navigation -->
<div class="navbar-wrapper">
    <div class="navbar navbar-main" id="fixed-navbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 column-header">
                    <div class="navbar-header">
                        <!-- Brand -->
                        <a href="/index.html" class="navbar-brand">
                            <div class=""></div> <img src="/images/logos/reactn.png" class="" alt="{{ title }}">
                        </a>
                        <!-- Mobile Navigation -->
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div><!-- /navbar header -->

                    <!-- Main Navigation - Explained in Documentation -->
                    <nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="/index.html" class="dropdown-toggle">Home</a>
                            </li>
                            <li class="dropdown dropdown-main">
                                <a href="/product" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Product<span class="fa fa-angle-down dropdown-arrow"></span></a>
                                <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn"><!-- Control Animations by changing "fadeIn" to another property from animate.css, check animations page in features / ALSO dropdown-animation class controls the duration, ajust if need -->
                                    <li><a href="/product">The Reactn experience</a></li>
                                    <li><a href="/product/reactn-features">Reactn features</a></li>
                                    <li><a href="/product/technologies">Technologies</a></li>
                                    </li>
                                </ul>
                            </li>
                            <li class="">
                                <a href="/focus-markets" class="dropdown-toggle">Focus markets</a>
                            </li>
                            <li class="">
                                <a href="/focus-job-roles" class="dropdown-toggle">Focus job roles</a>
                            </li>
                            <li class="">
                                <a href="/pricing" class="dropdown-toggle">Pricing</a>
                            </li>
                            <li class="">
                                <a href="/about-us" class="dropdown-toggle">About us</a>
                            </li>
                            <li class="">
                                <a href="/contact-us" class="dropdown-toggle">Contact us</a>
                            </li>
                        </ul><!-- /navbar right -->
                    </nav><!-- /nav -->
                </div>
            </div>
        </div><!-- /container header -->
    </div><!-- /navbar -->
</div><!-- /navbar wrapper -->
<!-- End Navigation -->
