<div class="heading">
    <h3>
        Reactn in Transport
    </h3>
</div>
<p>
    In surveys, passengers on transport services often express frustration about the quality of the travelling environment and service, and this is often because people on trains and on bus services simply feel overlooked and ignored. Customer feedback systems still rely on forms, email and customer service lines, with very few positioned to address immediate customer experience i ssues or passenger frustrations.
</p>
<p>
    As a result, travellers shift their attention to social media and make full use of delay compensation as their only recourse when problems occur.
</p>
<p>
    Crucially, operators often have little scope to affect the delays caused by unforeseen problems such as signalling failures or track damage. But satisfaction can be significantly affected by problems such as litter, vandalism and blocked toilets. Fixing these issues quickly can improve satisfaction, even when passengers are faced with unavoidable delays.
</p>
<p>
    This is where Reactn can offer significant benefits to operators. The passenger is in transit, so it makes sense for the feedback tool to be in transit with them. Reactn is built with mobile devices in mind from the start, so it is the obvious choice for giving service feedback on the move.
</p>
<p>
    Travellers now find it intuitive to identify the bus or train carriage they are in and will log this spontaneously in Reactn, even when not prompted. This allows an unprecedented level of location accuracy when it comes to fault-reporting. From constant and location-specific sentiment, to specific carriage or bus stop fault reporting, Reactn empowers passengers to record, photograph and suggest improvements on every aspect of their journey.
</p>
<p>
    Reactn delivers an agile and reactive environment for transport providers looking to engage customers and address changing requirements. From constant and location-specific sentiment, to specific carriage or bus stop fault-reporting, Reactn empowers passengers to record, photograph and suggest improvements on every aspect of their journey.
</p>
<p>
    Not only does this create a &ldquo;crowd-sourced&rdquo; approach to tackling litter, graffiti, maintenance issues and faults, is also engages passengers with the process of improving railways, bus services and airports.
</p>
<p>
    Reactn also delivers this insight to staff positioned on site, and even on moving vehicles. Supervisors, and maintenance and engineering teams can receive alerts and service schedule information to help plan fixes and address issues. More to the point, it enables transport providers to prioritise investment and measure the impact that improvements have on customer satisfaction levels and opinions.
</p>
