<p>
    Travellers now find it intuitive to identify the bus or train carriage they are in and will log this spontaneously in Reactn, even when not prompted. This allows an unprecedented level of location accuracy when it comes to fault-reporting. From constant and location-specific sentiment, to specific carriage or bus stop fault reporting, Reactn empowers passengers to record, photograph and suggest improvements on every aspect of their journey.
</p>
<p>
    Reactn delivers an agile and reactive environment for transport providers looking to engage customers and address changing requirements. From constant and location-specific sentiment, to specific carriage or bus stop fault-reporting, Reactn empowers passengers to record, photograph and suggest improvements on every aspect of their journey.
</p>
<p>
    Not only does this create a &ldquo;crowd-sourced&rdquo; approach to tackling litter, graffiti, maintenance issues and faults, is also engages passengers with the process of improving railways, bus services and airports.
</p>
<p>
    Reactn also delivers this insight to staff positioned on site, and even on moving vehicles. Supervisors, and maintenance and engineering teams can receive alerts and service schedule information to help plan fixes and address issues. More to the point, it enables transport providers to prioritise investment and measure the impact that improvements have on customer satisfaction levels and opinions.
</p>
