<div class="heading">
    <h3>
        Reactn in Transport
    </h3>
</div>
<p>
    In surveys, passengers on transport services often express frustration about the quality of the travelling environment and service, and this is often because people on trains and on bus services simply feel overlooked and ignored. Customer feedback systems still rely on forms, email and customer service lines, with very few positioned to address immediate customer experience i ssues or passenger frustrations.
</p>
<p>
    As a result, travellers shift their attention to social media and make full use of delay compensation as their only recourse when problems occur.
</p>
<p>
    Crucially, operators often have little scope to affect the delays caused by unforeseen problems such as signalling failures or track damage. But satisfaction can be significantly affected by problems such as litter, vandalism and blocked toilets. Fixing these issues quickly can improve satisfaction, even when passengers are faced with unavoidable delays.
</p>
<p>
    This is where Reactn can offer significant benefits to operators. The passenger is in transit, so it makes sense for the feedback tool to be in transit with them. Reactn is built with mobile devices in mind from the start, so it is the obvious choice for giving service feedback on the move.
</p>
