---
layout: content_container
breadcrumbs: true
title: Our technologies
section_title: Product
---
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        <div class="heading">
            <h1>{{ page.title }}</h1>
        </div>
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/product/technologies/intro.html %}
    </div><!-- /column -->
    <div class="col-sm-12 col-md-6" style="visibility: visible; ">
        {% include content/product/technologies/customer_access_technologies.html %}
    </div><!-- /column -->
    <div class="col-sm-12 col-md-6 reactn-image reactn-image-right" style="visibility: visible; ">
        <img src="/images/photos/customer-access.jpg" alt="Reactn app running on mobile phone">
    </div><!-- /column -->
    <div class="col-sm-12 col-md-6 reactn-image" style="visibility: visible; ">
        <img src="/images/photos/screen-grab-questionnaires-filter.png" alt="Reactn ticketing system">
    </div><!-- /column -->
    <div class="col-sm-12 col-md-6" style="visibility: visible; ">
        {% include content/product/technologies/staff_access_technologies.html %}
    </div><!-- /column -->
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/product/technologies/feedback_management_system.html %}
    </div><!-- /column -->
    <div class="col-sm-12 col-md-6 reactn-image" style="visibility: visible; ">
        <img src="/images/photos/screen-ticketing.png" alt="Reactn ticketing system">
    </div><!-- /column -->
    <div class="col-sm-12 col-md-6" style="visibility: visible; ">
        {% include content/product/technologies/ticketing.html %}
    </div><!-- /column -->
    <div class="col-sm-12 col-md-6" style="visibility: visible; ">
        {% include content/product/technologies/dashboard.html %}
    </div><!-- /column -->
    <div class="col-sm-12 col-md-6 reactn-image reactn-image-right" style="visibility: visible; ">
        <img src="/images/photos/technologies-dashboard.png" alt="Reactn dashboard">
    </div><!-- /column -->
</div><!-- /row -->
