---
layout: content_container
breadcrumbs: true
title: Focus Markets
---
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        <div class="heading">
            <h1>{{ page.title }}</h1>
        </div>
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_markets/intro.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12 col-md-6" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_retail.html %}
    </div><!-- /column -->

    <div class="col-sm-12 col-md-6 reactn-image" style="visibility: visible; ">
        <img src="/images/photos/shopping-small.jpg" alt="People shopping">
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_retail_full_width.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12 col-md-6" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_transport.html %}
    </div><!-- /column -->
    <div class="col-sm-12 col-md-6 reactn-image" style="visibility: visible; ">
        <img src="/images/photos/People_Train_Station_Blur_small.jpg" alt="People in a train station">
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_transport_full_width.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12 col-md-6" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_hospitality.html %}
    </div><!-- /column -->
    <div class="col-sm-12 col-md-6 reactn-image" style="visibility: visible; ">
        <img src="/images/photos/Cafe_Main_small.jpg" alt="People in a cafe">
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_hospitality_full_width.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12 col-md-6" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_leisure.html %}
    </div><!-- /column -->
    <div class="col-sm-12 col-md-6 reactn-image" style="visibility: visible; ">
        <img src="/images/photos/gym.jpg" alt="People in a gym">
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_leisure_full_width.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_other_sectors.html %}
    </div><!-- /column -->
</div><!-- /row -->
