---
layout: content_container
breadcrumbs: true
title: Focus Markets
---
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_markets/intro.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_retail.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_transport.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_hospitality.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_leisure.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_other_sectors.html %}
    </div><!-- /column -->
</div><!-- /row -->
