---
layout: content_container
breadcrumbs: true
section_title: Focus Markets
title: Reactn in retail
---
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        <div class="heading">
            <h1>{{ page.title }}</h1>
        </div>
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12 col-md-6" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_retail.html %}
    </div><!-- /column -->

    <div class="col-sm-12 col-md-6 reactn-image" style="visibility: visible; ">
        <img src="/images/photos/shopping-small.jpg" alt="People shopping">
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_markets/reactn_in_retail_full_width.html %}
    </div><!-- /column -->
</div><!-- /row -->
