---
layout: content_container
breadcrumbs: true
title: Focus Job Roles
---
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_job_roles/intro.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_job_roles/reactn_for_customer_services.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_job_roles/reactn_for_customer_insights.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_job_roles/reactn_for_marketing_teams.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_job_roles/reactn_for_operations.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_job_roles/reactn_for_human_resources.html %}
    </div><!-- /column -->
</div><!-- /row -->
<div class="row">
    <div class="col-sm-12" style="visibility: visible; ">
        {% include content/focus_job_roles/reactn_for_senior_decision_makers.html %}
    </div><!-- /column -->
</div><!-- /row -->
