<p>
    Reactn is priced on a per-month and per-location basis. This encourages everyone to make as much use of the system as possible.
</p>
<p>
    Locations are not based on hard and fast rules, but on our understanding of your requirements and your customer’s needs. We’re not interested in stretching your budgets to breaking point, but we are interested in you taking the deployment of Reactn seriously and for the long-term. The only way to do this, is for both of us to make it work.
</p>
<p>
    Our pricing also takes into account the level of support, integration work, installation and technologies used. This ranges from employee training and change management workshops, to SDKs, Bluetooth beacons and kiosk solutions. These are essentially services that enable the system to work to its best abilities and make it as valuable as possible.
</p>
<p>
    Pricing will obviously depend on your requirements, but by its nature is a stepped process. As a result, the pricing structure is designed to support the testing of the process and further adoption of services and functions in phased increments.
</p>
<p>
    For more information and for an accurate quote based on your organisation’s exact requirements, please get in touch.
</p>

<table class="table table-bordered pricing-table">
    <thead>
        <tr>
            <th></th>
            <th>Standard</th>
            <th class="multi-site">Multi-Site</th>
            <th class="premium">Premium</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">
                Indicative per-location price
            </td>
            <td>
                £15-50 per month^
            </td>
            <td class="multi-site">
                £25 per month
            </td>
            <td class="premium">
                £50 per month
            </td>
        </tr>
        <tr>
            <td>
                Get the power of feedback and understand what it means to your business through basic dashboard tools
            </td>
            <td class="multi-site">
                Manage your entire estate with additional features that embeds Reactn into your business
            </td>
            <td class="premium">
                Tailor Reactn through automation and integration into the core of the business using all of the Reactn platform
            </td>
        </tr>
        <tr>
            <td>
                Locations
            </td>
            <td>
                Single-site
            </td>
            <td class="multi-site">
                Multiple sites
            </td>
            <td class="premium">
                Multiple sites
            </td>
        </tr>
        <tr>
            <td>
                Engagement
            </td>
            <td>
                App and Browser
            </td>
            <td class="multi-site">
                All options
            </td>
            <td class="premium">
                All options
            </td>
        </tr>
        <tr>
            <td>
                Feedback Forms
            </td>
            <td>
                Standard Reactn Form
            </td>
            <td class="multi-site">
                Customised
            </td>
            <td class="premium">
                Self-Service Creation
            </td>
        </tr>
        <tr>
            <td>
                Deployment
            </td>
            <td>
                Self-Service
            </td>
            <td class="multi-site">
                Customised
            </td>
            <td class="premium">
                Fully Supported
            </td>
        </tr>
        <tr>
            <td>
                Routing
            </td>
            <td>
                Standard Reactn Routing
            </td>
            <td class="multi-site">
                Customised
            </td>
            <td class="premium">
                Fully Managed
            </td>
        </tr>
        <tr>
            <td>
                Customer Contact
            </td>
            <td>
                Reactn Platform Response
            </td>
            <td class="multi-site">
                Multiple Response
            </td>
            <td class="premium">
                Purpose-Built Tool
            </td>
        </tr>
        <tr>
            <td>
                Ticketing System
            </td>
            <td>
                -
            </td>
            <td class="multi-site">
                Standard Ticketing
            </td>
            <td class="premium">
                Full-Integration*
            </td>
        </tr>
        <tr>
            <td>
                Dashboard
            </td>
            <td>
                Standard Dashboard
            </td>
            <td class="multi-site">
                Customised Dashboard
            </td>
            <td class="premium">
                Purpose-Built Dashboard
            </td>
        </tr>
        <tr>
            <td>
                Social Media Integration
            </td>
            <td>
                -
            </td>
            <td class="multi-site">
                Dashboard-Sentiment
            </td>
            <td class="premium">
                Full Integration*
            </td>
        </tr>
        <tr>
            <td>
                Loyalty Scheme
            </td>
            <td>
                -
            </td>
            <td class="multi-site">
                On-Demand
            </td>
            <td class="premium">
                Full Integration*
            </td>
        </tr>
        <tr>
            <td>
                Training
            </td>
            <td>
                Web-based Tutorials
            </td>
            <td class="multi-site">
                On-Site and Web-based
            </td>
            <td class="premium">
                In-House Training
            </td>
        </tr>
        <tr>
            <td>
                Support
            </td>
            <td>
                Self-Service &amp; Web-based
            </td>
            <td class="multi-site">
                Phone and Email
            </td>
            <td class="premium">
                Dedicated Support
            </td>
        </tr>
    </tbody>
</table>

<p>*certain aspects are depending on company resource and priced accordingly</p>
<p>^depending on size of site </p>
