<div class="heading mt30">
    <h3>
        How does it work?
    </h3>
</div>
<p>
Reactn is a digital feedback system. It can collect customer opinions and experiences at known locations, through mobile devices and laptops.
</p>
<p>
Reactn has a very simple interface, meaning customers can use it intuitively. In effect, it is a digitised comment card. But it does not use a limited set of rote questions that may not reflect the customer’s real concerns. Instead, Reactn uses smart questioning to drill down to the root of an issue or concern.
</p>
<p>
The answers are then fed back immediately to the most relevant people in your organisation who can resolve the issue. Feedback can be given directly to the customer in real-time, informing them of progress and thanking them for their help in raising the issue.
</p>
<p>
Reactn is a cloud-based platform that is easy to manage and quick to deploy. It uses a client-side dashboard to allow your empowered employees to keep track of issues – assigning tickets by action and priority.
</p>
