<h1>
    Place feedback in the hands of people that can make a difference
</h1>
<p>
Reactn uses a range of tools and technologies to collect customer insight at the point of service delivery. Structuring, prioritising and directing that feedback to the most relevant staff members to address. This ensures that all feedback is prioritised accordingly, also enabling employees to resolve issues, respond to individual customers and inform the business of their actions. Reactn is easy to manage and quick to deploy, adopting to responses and locations, communicating insights via dashboards and assigning actions by priority.
</p>
