<h1>
    Realise the value of feedback
</h1>
<p>
    Reactn is a digital feedback system, collecting customer opinions and experiences at known locations, through mobile devices and laptops. Reactn use a range of tools and technologies to collect insight at the point of service delivery, structuring, prioritising and directing that feedback to the most relevant staff members to address. Not only does this ensure that all feedback is read and prioritised accordingly, it also enables employees to resolve issues, respond to individual customers and inform the business of their actions. Running as a cloud-based platform, Reactn is easy to manage and quick to deploy. It adapts to responses and locations, communicating insights via dashboards, as well as assigning tickets by action and priority.
</p>
